@charset 'utf-8';
html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden; 
  /* 바디에 기본적으로 가로 스크롤이 생기지 않게 하도록 한다 */
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  /* 자간 줄여주기 */
  background-color: white;
}

p {
  line-height: 1.6;
  /* 행간 */
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
  /* 밑줄 없앰 */
}

.global-nav {
  height: 44px;
  padding: 0 1rem;
}

.local-nav {
  height: 52px;
  border-bottom: 1px solid #ddd;
  padding: 0 1rem;
}

.global-nav-links,
.local-nav-links {
  max-width: 1000px;
  /* 
    폭 조절 및 배치
    네비바의 width 영역이 제한이 되어있음
    center 정렬이 되어있음
    최대 폭 정하고, 이 폭 보다 브라우저가 작아지면
    자연스럽게 같이 줄어들도록 한다.
  */
  margin: 0 auto; 
  /* center 정렬 */

  display: flex;
  /* justify-content: space-between; */
  /* 
    네비바가 균일한 간격으로 spacing 처리 되어서 배치되어 있음
    display + justify-content
    배치되어 있는 방향으로 정렬하는 방법
    flex-start가 default며 앞쪽으로 정렬되어 있음
   */
  
   align-items: center;
   /*
    여기까지 됐을 때 높이가 44px 인데 top에 붙어있음
    그것을(수직방향정렬) center로 만들기 위함
   */
   height: 100%
   /* 여기서 height를 먹여야 높이가 있기 때문에 수직방향 정렬이 가능하다 */

   /* 
    관련된 내용
    display: block과 flex의 차이는
    div 안에 요소들이 block일 때는 세로로 쌓이고,
    flex를 주면 가로로 쌒이게 되면서 자신이 가진 내용물의 width 만큼 차지하게 된다.
   */
}

.global-nav-links {
  justify-content: space-between;
  /* 제일 상단의 nav바에만 적용될 속성 */
}

.local-nav-links .product-name {
  margin-right: auto;
  /* 
    margin-auto: 내가 가질 수 있는 여백을 전부 소비를 한다! 
    그래서, center 정렬할 때 margin-left, margin-right를 0으로 하는 이유가
    오른쪽 왼쪽 마진을 전부 사용하여 가운데로 정렬을 한다는 의미이다.
  */
  font-size: 1.4rem;
  font-weight: bold;
}

/* 
  구조가 .local-nav-links > a 인데 (.product name은 a 태그임)
  product-name에 단독으로 폰트 사이즈를 지정하려고 하면 안된다.
  우선순위가 있기 때문임.
  그래서 .product-name 앞에 .local-nav-links를 덧붙여줌
  a나 img 같은 태그보다 구체적인 class 태그가 우선권을 가짐 
*/
.local-nav-links a {
  font-size: 0.8rem;
}

.local-nav-links a:not(.product-name) {
  margin-left: 2em;
}
/* not 태그: 괄호 안에 있는 조건은 제외한다 */

.scroll-section {
  padding-top: 50vh;
  /* 뷰포트 높이란 인터넷 브라우저 창의 높이를 말한다 */
}

#scroll-section-0 h1 {
  font-size: 4rem;
  text-align: center;
}

.main-message {
  display: flex;
  align-items: center; 
  /* 세로 방향 센터 정렬 */
  justify-content: center;
  margin: 5px 0;
  /* 가로 방향 센터 정렬 */
  height: 3em;
  font-size: 2.5em;
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
  /*
    display: block 처리하면 박스가 돼서 다음 줄로 넘어간다
  */
}

#scroll-section2 .main-message {
  font-size: 3.5rem;
}

.description {
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
  max-width: 1000px;
  margin: 0 auto;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: rgb(29, 29, 31)
}
/*
  현재 내 폰트 사이즈가 3rem이고
  이거의 20% 정도로 여백을 두겠다라는 의미
  현재 우리 html font-size를 14px로 놨다.
  1rem이 14px 이고, 3rem 이면 42px
  42px의 0.2배 -> 8.4 
  그래서 margin-right가 영역에서 8.4px를 먹게된다.
*/

/*
  rem, em 차이 두는 이유
  : em -> 현재 내 사이즈의 비율을 활용할 수 있다.
*/

.desc-message {
  font-weight: bold;
  width: 50%;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: rgb(29, 29, 31);
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}

.mid-message strong {
  color: rgb(29, 29, 31);
}

.canvas-caption {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7rem;
  color: white;
  background-color : darkorange;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
    /*
      브라우저 사이즈에 따라서 폰트 사이즈를 조정하기
      뷰포트 단위로 사용하면 된다
      윈도우 사이즈의 9퍼센트 크기
    */
  }
  .main-message {
    font-size: 4vw;
  }

  .description {
    font-size: 2rem;
  }

  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 6vw;
  }

  .main-message small {
    font-size: 1.5vw;
  }

  .desc-message {
    width: 20%;
  }

  .mid-message {
    font-size: 4vw;
  }

  .canvas-caption {
    font-size: 2rem;
  }
}